#Unit16. 반복문

###16.1 for 와 range

In [ ]:
for i in range(10) :
    print('Hello')

In [ ]:
for i in range(10) :
    print('Hello', i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

In [ ]:
#i를 쓸수 있지만 언더바로 대체 가능함
for _ in range(5) :
    print('Hello')

Hello
Hello
Hello
Hello
Hello

###16.2 for 와 range 응용

In [ ]:
for i in range(6, 10) :
    print('Hello', i)

Hello 6
Hello 7
Hello 8
Hello 9

In [ ]:
for i in range(0, 10, 2) :
    print('Hello', i)

Hello 0
Hello 2
Hello 4
Hello 6
Hello 8

In [ ]:
for i in range(10, 0, -2) :
    print('Hello', i)

Hello 10
Hello 8
Hello 6
Hello 4
Hello 2

In [17]:
for i in range(1, 101) :
    print('fizz'*(i%3==0) + 'buzz'*(i%5==0)  or i, end=' ')
    if i%10==0 :
        print( )

1 2 fizz 4 buzz fizz 7 8 fizz buzz
11 fizz 13 14 fizzbuzz 16 17 fizz 19 buzz
fizz 22 23 fizz buzz 26 fizz 28 29 fizzbuzz
31 32 fizz 34 buzz fizz 37 38 fizz buzz
41 fizz 43 44 fizzbuzz 46 47 fizz 49 buzz
fizz 52 53 fizz buzz 56 fizz 58 59 fizzbuzz
61 62 fizz 64 buzz fizz 67 68 fizz buzz
71 fizz 73 74 fizzbuzz 76 77 fizz 79 buzz
fizz 82 83 fizz buzz 86 fizz 88 89 fizzbuzz
91 92 fizz 94 buzz fizz 97 98 fizz buzz

###16.3 시퀀스(sequence) 객체 반복

In [18]:
fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    print(i)

apple
banana
cherry

In [21]:
fruits_List = ['apple', 'banana', 'cherry']
for fruit in fruits_List:
    print(fruit)

apple
banana
cherry

In [23]:
for letter in 'python' :
    print(letter, end = ' ')

p y t h o n

In [25]:
for letter in reversed('python') :
    print(letter, end = ' ')

n o h t y p

In [28]:
for number in (10,20,30):
    print(number, end = ' ')

10 20 30

퀴즈 perfact number

In [1]:
# 자기 자신을 제외한 약수의 합이 자기 자신과 같은 수
#ex) 6의 약수 1,2,3,6 인데 6을 제외한 1,2,3 의 합이 6임
#10000이하의 수에서 4개가 무엇인지 
PN_list =[]
all_sum = 0
for i in range(2, 11) : 
    for k in range(1, i) :
        if i%k == 0 :
            all_sum += k
            print(f'{k}은/는 {i}의 약수')

1은/는 2의 약수
1은/는 3의 약수
1은/는 4의 약수
2은/는 4의 약수
1은/는 5의 약수
1은/는 6의 약수
2은/는 6의 약수
3은/는 6의 약수
1은/는 7의 약수
1은/는 8의 약수
2은/는 8의 약수
4은/는 8의 약수
1은/는 9의 약수
3은/는 9의 약수
1은/는 10의 약수
2은/는 10의 약수
5은/는 10의 약수

In [2]:

# 자기 자신을 제외한 약수의 합이 자기 자신과 같은 수
#ex) 6의 약수 1,2,3,6 인데 6을 제외한 1,2,3 의 합이 6임
#10000이하의 수에서 4개가 무엇인지 

#약수의 합을 초기화

for i in range(1, 10001) : 
    sum_divisor = 0
    for k in range(1, i) :
        if i%k == 0 :
            sum_divisor+= k
    if i == sum_divisor :  
        print(i)

6
28
496
8128

In [3]:
PN=[]
for i in range(2, 10001) : 
    divisor_list=[]
    for k in range(1, i) :
        if i%k == 0 :
           divisor_list.append(k) 

    if i == sum(divisor_list) : 
        PN.append(i)        

print(PN)

[6, 28, 496, 8128]