#Unit29. 함수

###29.1 출력함수 만들기

In [ ]:
def hello():
    print('Hellow world!')

In [2]:
hello()

Hellow world!

##29.2 덧셈함수

In [5]:
# 매개변수, parameter, argument
def add(a, b):
    print(a+b)

In [10]:
add(4,5)

9

In [13]:
#Docstring
def add(a, b) :
    """
    이 함수는 a와 b를 더한뒤 결과를 반환하는 함수입니다. 
    """
    print(a+b)

In [16]:
add? #도움말

In [17]:
print?

##29.3 결과값 반환

In [18]:
def add(a, b) :
    return a+b

In [22]:
add(3,4), add(10,20)
x= add(21, 45)
x

66

In [24]:
def is_ten(x):
    return x==10

In [25]:
is_ten(101//10)

True

In [28]:
def not_ten(x) :
    if x == 10 :
        return
    else :
        print('It is not ten')

In [29]:
not_ten(5)

It is not ten

In [30]:
def not_ten(x) :
    if x == 10 :
        return
    print('It is not ten')

In [31]:
not_ten(3)

It is not ten

##29.4 여러개의 결과값 반환

In [32]:
def add_sub(a, b):
    return a+b, a-b

In [33]:
x, y = add_sub(15, 7)

In [34]:
x, y

(22, 8)

##29.5 함수의 호출과정

In [35]:
#Stack을 이용한다.

In [40]:
#문제
# 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬이 되도록 할 때, 가장 큰 숫자는?
#팔린드롭 : 예) 12321 앞뒤가 같은숫자
# 1. 맥시멈인가 ?

def is_palindrom(x) :
    s = str(x)
    return s==s[::-1]

#하나의 코드로 작성할 경우
max_pal, m, n = 0, 0, 0
for i in range(100,1000) : 
    for k in range(i, 1000):
        if is_palindrom(i*k) :
            if i*k > max_pal:
                max_pal = i*k
                m = i
                n = k
print(f'{m}X{n}  = {max_pal}')
                    # i*k 의 결과 값이 팔린드롬인지 확인
                    # 팔린드롬이면 max_pal