#Uint38. 예외처리

## 38.1 try except

In [1]:
a=[1,2,3]
a[4]

IndexError: ignored

In [2]:
a=[1,2,3]
try : 
    a[4]
except : 
    print('예외발생')

예외발생

In [4]:
int('10d')

ValueError: ignored

##특정예외만처리하기

In [7]:
try :
    int('10d')
except  ZeroDivisionError :
    print('0으로 나눌 수 없습니다.')
except IndexError :
    print('inedex Error발생.') 
except ValueError :
    print('Vlaue Error발생')

Vlaue Error발생

###예외의 에러 메시지 받아오기

In [8]:
#이거 하나만 기억하자!!!!!! exceoption as e
try :
    int('10d')
except Exception as e : #alias
    print(e)            # Exception 객체의 __str__() method

invalid literal for int() with base 10: '10d'

###38.2 else-finally

In [12]:
try : 
    x=int(input('나눌 숫자 입력 > '))
    y= 10 / x 
except Exception as e :
    print(e)

else :
    print(y)

나눌 숫자 입력 > d
invalid literal for int() with base 10: 'd'

In [14]:
# 예외와 상관없이 항상 실행
try : 
    x=int(input('나눌 숫자 입력 > '))
    y= 10 / x 
except Exception as e :
    print(e)

else :
    print(y)
finally:
    print('코드 실행 종료')

나눌 숫자 입력 > 0
division by zero
코드 실행 종료

##38.3 예외 발생시키기

In [21]:
import random
try : 
    x=random.randint(1, 10)
    print(x)
    if x % 3 != 0 :
        raise Exception('3의배수가아닙니다.') #중요함

except Exception as e :
    print('예외발생', e)

4
예외발생 3의배수가아닙니다.

In [22]:
def multiple11(x) :
    if x % 11 != 0 :
        raise Exception('11의배수가아닙니다.') 
    print(x)

In [23]:
try : 
    multiple11(100)
except Exception as e :
    print('예외발생 -', e)

예외발생 11의배수가아닙니다.

In [ ]:
try :
for():
    for():
        for():
            if 조건 :
               raise Exception() # loop을 완전 탈출
except :

##38.4 예외 만들기

In [ ]:
#Exceoption 객체를 상속받아 객체를 만들면 됨