#30.1 위치인수

In [6]:
def print_number(a, b, c):
    print(a)
    print(b)
    print(c)

In [7]:
print_number(10, 20, 30)

10
20
30

In [8]:
x= [10, 20, 30]
print_number(*x) #리스트 언패킹

10
20
30

In [9]:
#*x, *y - 리스트/ 튜플 언패킹
x, y = [10,20,30],(40, 50, 60)
print_number(*x)
print_number(*y)

10
20
30
40
50
60

###가변 인수 함수

In [12]:
def print_number(*args) :
    for args in args:
        print(args)

In [13]:
print_number(10, 20, 30, 40)

10
20
30
40

In [15]:
def print_numbers(a, *args) :
    print(a)
    print(args)

In [16]:
print_numbers(1, 10 ,20)

1
(10, 20)

In [17]:
print_numbers(*x)

10
(20, 30)

In [19]:
#고정 위치 인수가 가변 위치 인수보다 먼저 나와야 함 !!
def print_numbers4(*args, a) : 
    print(args)
    print(a)

In [20]:
print_numbers4(*x)

TypeError: ignored

##30.2 키워드 인수

In [21]:
def personal_info(name, age, addr) :
    print('이름:', name )
    print('나이:', age)
    print('주소', addr)

personal_info('홍길동')

#30.3 키워드 인수와 딕셔너리 언패킹

In [29]:
x={'name':'홍길동', 'age':30, 'addr':'서울강남구 도곡동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소 서울강남구 도곡동

In [ ]:
#x는 x의 키를 불러냄

###가변 키워드 인수

In [30]:
def personal_info2(**kwargs) :
    for key, value in kwargs.items() :
        print(f'{key}:{value}')

In [31]:
personal_info2(**x)

name:홍길동
age:30
addr:서울강남구 도곡동

In [24]:
personal_info2(name='홍길동', age=30)

name:홍길동
age:30

In [32]:
def personal_info3(name, **kwargs) :
    print(name)
    print(kwargs)

In [33]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울강남구 도곡동'}

##위치 인수와 키우드 인수

In [38]:
def my_print(*args, **kwargs) : 
    print(*args, **kwargs)

In [39]:
my_print(10,20,30, sep=', ')

10, 20, 30

## 30.4 매개변수에 초기값 지정

In [41]:
def personal_info4(name, age, addr='비공개') :
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [42]:
personal_info4('홍길동', 30)

이름: 홍길동
나이: 30
주소 비공개

In [43]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소 서울강남구 도곡동