#Unit 31. 재귀호출(Recursive Call)

##factorial 함수를 재귀 호출로 구현

In [10]:
def factorial(n) :
    if n == 0 : # n== 1 :
        return 1 
    return n*factorial(n-1)

In [12]:
factorial(1)

1

### fibonacci 수열


1.   f(n) = f(n-1) + f(n-2), n>=3 
2.   f(1)= 1, f(2) =1

In [42]:
def fibon(n) : 
    if n == 1 or n == 2 :
      return 1
    return fibon(n-1) + fibon(n-2)

In [44]:
[fibon(i) for i in range(1, 11)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]