#Unit.10 리스트와 튜플

10.1 리스트

In [2]:
a = [38, 26, 14, 52, 56 ]
a

[38, 26, 14, 52, 56]

In [5]:
#파이썬에서 리스트엘리먼트는 다른자료형도 가능 
#자료형이 다양하면 반복문 사용이 어려울 수 있음
person = ['James', 19, 175.3, True, [120, 80]]
person

['James', 19, 175.3, True, [120, 80]]

In [ ]:
#위의 형태는 딕셔너리로 변형해주는 것이 좋음
person_dict = {'name':'James', 'age':19, 'Hight':175.3, 'is_male':True, 'bp':[120, 80]}

In [6]:
a=[]
b=list()
a,b

([], [])

In [8]:
a, b = [], []
a, b

([], [])

range(시작, 끝, 증가분)

In [11]:
a=range(10)
#레인지를 리스트로 받아야 숫자 리스트가 나옴
print(a)
list(a)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
#홀수만 리스트 뽑기
list(range(1, 10, 2))
#짝수만 뽑기
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

In [14]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

10.2 튜플(tuple)

In [15]:
a=(30, 38, 21, 47)

In [16]:
person = ('James', 19, 175.3, True, [120, 80])
person

('James', 19, 175.3, True, [120, 80])

In [25]:
a= tuple()
print(a)
a

()

()

In [27]:
#a는정수
a=(38)
print(a)
#b는 튜플
b=(38,)
print(b)

38
(38,)

In [28]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [34]:
#리스트에서 튜플 상호변경가능
a=[1,3,4]
b=tuple(a)
c=list(b)
c
#상호변경안되는 경우
#x=10 
#y=tuple(x)

tuple('Hello')
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

In [37]:
#튜플언패킹
a=(1,3,4)
x,y,z=a
x,y,z

(1, 3, 4)

In [38]:
#리스트언패킹
x,y,z = [1,3,5]
x,y,z

(1, 3, 5)